@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
  padding: 0;
  margin: 0;
}

.container{
  font-family: "Figtree", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4D04E;
}

.card{
  padding: 24px;
  width: 354px;
  background-color: #FFFFFF;
  border-radius: 20px;
  border:1px solid #111111;
  box-shadow: 8px 8px #000000;
}

.article-image{
  width: 100% ;
  padding-bottom: 24px;
}

.label{
display: inline;
background-color: #F4D04E;
padding: 4px 12px 4px 12px;
border-radius: 4px;
color: #111111;
font-size: 14px;
font-weight: bold;
}

.pub-date{
padding-top: 12px;
padding-bottom: 12px;
font-weight: medium;
font-size: 14px;
line-height: 1.5;
color: #111111;
}

.heading{
padding-bottom: 12px;
font-size: 24px;
font-weight: bolder;
line-height: 1.5;
color: #111111;
}

.explains{
padding-bottom: 24px;
font-size: 16px;
font-weight: medium;
line-height: 1.5;
color: #6B6B6B;
}

.profil{
display: flex;
}

.profil-photo{
  width: 32px;
  height: 32px;
}

.name{
  display: inline;
  padding: 5.5px 0 5.5px 12px;
  font-size: 14px;
  font-weight: bolder;
  line-height: 1.5;
  color: #111111;
}
