@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
  padding: 0;
  margin: 0;
}

.container{
  font-family: "Figtree", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  padding: 24px;
  width: 384px;
}

.article-image{
  width: 100% ;
  padding-bottom: 24px;
}

.label{
padding-bottom: 12px;
}

.pub-date{
padding-bottom: 12px;
}

.heading{
padding-bottom: 12px;
}

.explains{
padding-bottom: 24px;
}

.profil{
display: flex;
}

.profil-photo{
  width: 32px;
  height: 32px;
}

.name{
  display: inline;
  padding: 5.5px 5.5px 5.5px 5.5px;
}
